In [2]:
def my_function():
  print("Hello from a function")

my_function()

Hello from a function

In [3]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

In [4]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil", "Refsnes")

Emil Refsnes

In [5]:
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

In [6]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

In [7]:
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes

In [8]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [9]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

In [10]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

In [11]:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21

In [12]:
def fun1(name, age=20):
    print(name, age)

fun1('Emma', 25)

Emma 25

In [13]:
def display_person(*args):
    for i in args:
        print(i)

display_person(name="Emma", age="25")

TypeError: display_person() got an unexpected keyword argument 'name'

In [14]:
def outer_fun(a, b):
    def inner_fun(c, d):
        return c + d
    return inner_fun(a, b)

res = outer_fun(5, 10)
print(res)

15

In [15]:
def fun1(num):
    return num + 25

fun1(5)
print(num)

NameError: name 'num' is not defined

In [16]:
def add(a, b):
    return a+5, b+5

result = add(3, 2)
print(result)

(8, 7)

In [17]:
def outer_fun(a, b):
    def inner_fun(c, d):
        return c + d

    return inner_fun(a, b)
    return a

result = outer_fun(5, 10)
print(result)

15

In [18]:
def surprising_function(value):
    thing = 0
    for counter in range(value+1):
        thing = thing + counter
    return thing

print(surprising_function(5))

15

In [19]:
def func(a,b):
    print(a-b)
a=4
b=9
func(a=b,b=a)

5

In [20]:
def fun(x,y=0,z):
    print(x-y+z)
fun(1,23)

SyntaxError: non-default argument follows default argument (1050328770.py, line 1)

In [22]:
def fun(lst):
    def func(n):
        s=0
        for i in range(0,n+1):
            s=s+lst[i]
        return s
    for i in range(len(lst)):
        print(func(i),end=' ')
fun([1,3,5])

1 4 9