In [1]:
set1 = set()
print("Initial blank Set: ")
print(set1)
 
# Creating a Set with
# the use of a String
set1 = set("GeeksForGeeks")
print("\nSet with the use of String: ")
print(set1)
 
# Creating a Set with
# the use of Constructor
# (Using object to Store String)
String = 'GeeksForGeeks'
set1 = set(String)
print("\nSet with the use of an Object: " )
print(set1)
 
# Creating a Set with
# the use of a List
set1 = set(["Geeks", "For", "Geeks"])
print("\nSet with the use of List: ")
print(set1)
 
# Creating a Set with
# the use of a tuple
t=("Geeks","for","Geeks")
print("\nSet with the use of Tuple: ")
print(set(t))
 
# Creating a Set with
# the use of a dictionary
d={"Geeks":1,"for":2,"Geeks":3}
print("\nSet with the use of Dictionary: ")
print(set(d))

Initial blank Set:
set()

Set with the use of String:
{'e', 'F', 'G', 'k', 'o', 'r', 's'}

Set with the use of an Object:
{'e', 'F', 'G', 'k', 'o', 'r', 's'}

Set with the use of List:
{'Geeks', 'For'}

Set with the use of Tuple:
{'Geeks', 'for'}

Set with the use of Dictionary:
{'Geeks', 'for'}

In [2]:
# Creating a Set with
# a List of Numbers
# (Having duplicate values)
set1 = set([1, 2, 4, 4, 3, 3, 3, 6, 5])
print("\nSet with the use of Numbers: ")
print(set1)
 
# Creating a Set with
# a mixed type of values
# (Having numbers and strings)
set1 = set([1, 2, 'Geeks', 4, 'For', 6, 'Geeks'])
print("\nSet with the use of Mixed Values")
print(set1)

Set with the use of Numbers:
{1, 2, 3, 4, 5, 6}

Set with the use of Mixed Values
{1, 2, 4, 6, 'For', 'Geeks'}

In [3]:
# Set containing numbers
my_set = {1, 2, 3}
 
print(my_set)

{1, 2, 3}

In [4]:
set1 = set()
print("Initial blank Set: ")
print(set1)
 
# Adding element and tuple to the Set
set1.add(8)
set1.add(9)
set1.add((6, 7))
print("\nSet after Addition of Three elements: ")
print(set1)
 
# Adding elements to the Set
# using Iterator
for i in range(1, 6):
    set1.add(i)
print("\nSet after Addition of elements from 1-5: ")
print(set1)

Initial blank Set:
set()

Set after Addition of Three elements:
{8, 9, (6, 7)}

Set after Addition of elements from 1-5:
{1, 2, 3, 4, 5, 8, 9, (6, 7)}

In [5]:
set1 = set([4, 5, (6, 7)])
set1.update([10, 11])
print("\nSet after Addition of elements using Update: ")
print(set1)

Set after Addition of elements using Update:
{4, 5, 10, 11, (6, 7)}

In [6]:
# Creating a set
set1 = set(["Geeks", "For", "Geeks."])
print("\nInitial set")
print(set1)
 
# Accessing element using
# for loop
print("\nElements of set: ")
for i in set1:
    print(i, end=" ")
 
# Checking the element
# using in keyword
print("\n")
print("Geeks" in set1)

Initial set
{'Geeks.', 'Geeks', 'For'}

Elements of set:
Geeks. Geeks For

True

In [7]:
set1 = set([1, 2, 3, 4, 5, 6,
            7, 8, 9, 10, 11, 12])
print("Initial Set: ")
print(set1)
 
# Removing elements from Set
# using Remove() method
set1.remove(5)
set1.remove(6)
print("\nSet after Removal of two elements: ")
print(set1)
 
# Removing elements from Set
# using Discard() method
set1.discard(8)
set1.discard(9)
print("\nSet after Discarding two elements: ")
print(set1)
 
# Removing elements from Set
# using iterator method
for i in range(1, 5):
    set1.remove(i)
print("\nSet after Removing a range of elements: ")
print(set1)

Initial Set:
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

Set after Removal of two elements:
{1, 2, 3, 4, 7, 8, 9, 10, 11, 12}

Set after Discarding two elements:
{1, 2, 3, 4, 7, 10, 11, 12}

Set after Removing a range of elements:
{7, 10, 11, 12}

In [8]:
set1 = set([1, 2, 3, 4, 5, 6,
            7, 8, 9, 10, 11, 12])
print("Initial Set: ")
print(set1)
 
# Removing element from the
# Set using the pop() method
set1.pop()
print("\nSet after popping an element: ")
print(set1)

Initial Set:
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

Set after popping an element:
{2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

In [9]:
set1 = set([1,2,3,4,5])
print("\n Initial set: ")
print(set1)
 
 
# Removing all the elements from
# Set using clear() method
set1.clear()
print("\nSet after clearing all the elements: ")
print(set1)

 Initial set:
{1, 2, 3, 4, 5}

Set after clearing all the elements:
set()

In [10]:
String = ('G', 'e', 'e', 'k', 's', 'F', 'o', 'r')
 
Fset1 = frozenset(String)
print("The FrozenSet is: ")
print(Fset1)
 
# To print Empty Frozen Set
# No parameter is passed
print("\nEmpty FrozenSet: ")
print(frozenset())

The FrozenSet is:
frozenset({'e', 'F', 'G', 'k', 'o', 'r', 's'})

Empty FrozenSet:
frozenset()

In [11]:
my_list = [1, 2, 3, 3, 4, 5, 5, 6, 2]
my_set = set(my_list)
print("my_list as a set: ", my_set)
 
# Typecasting string into set
my_str = "GeeksforGeeks"
my_set1 = set(my_str)
print("my_str as a set: ", my_set1)
 
# Typecasting dictionary into set
my_dict = {1: "One", 2: "Two", 3: "Three"}
my_set2 = set(my_dict)
print("my_dict as a set: ", my_set2)

my_list as a set:  {1, 2, 3, 4, 5, 6}
my_str as a set:  {'e', 'G', 'f', 'k', 'o', 'r', 's'}
my_dict as a set:  {1, 2, 3}

In [12]:
def create_set():
    my_set = {1, 2, 3, 4, 5}
    print(my_set)
 
def add_element():
    my_set = {1, 2, 3, 4, 5}
    my_set.add(6)
    print(my_set)
 
def remove_element():
    my_set = {1, 2, 3, 4, 5}
    my_set.remove(3)
    print(my_set)
 
def clear_set():
    my_set = {1, 2, 3, 4, 5}
    my_set.clear()
    print(my_set)
 
def set_union():
    set1 = {1, 2, 3}
    set2 = {4, 5, 6}
    my_set = set1.union(set2)
    print(my_set)
 
def set_intersection():
    set1 = {1, 2, 3, 4, 5}
    set2 = {4, 5, 6, 7, 8}
    my_set = set1.intersection(set2)
    print(my_set)
 
def set_difference():
    set1 = {1, 2, 3, 4, 5}
    set2 = {4, 5, 6, 7, 8}
    my_set = set1.difference(set2)
    print(my_set)
 
def set_symmetric_difference():
    set1 = {1, 2, 3, 4, 5}
    set2 = {4, 5, 6, 7, 8}
    my_set = set1.symmetric_difference(set2)
    print(my_set)
 
def set_subset():
    set1 = {1, 2, 3, 4, 5}
    set2 = {2, 3, 4}
    subset = set2.issubset(set1)
    print(subset)
 
def set_superset():
    set1 = {1, 2, 3, 4, 5}
    set2 = {2, 3, 4}
    superset = set1.issuperset(set2)
    print(superset)
 
if __name__ == '__main__':
    create_set()
    add_element()
    remove_element()
    clear_set()
    set_union()
    set_intersection()
    set_difference()
    set_symmetric_difference()
    set_subset()
    set_superset()

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}
{1, 2, 4, 5}
set()
{1, 2, 3, 4, 5, 6}
{4, 5}
{1, 2, 3}
{1, 2, 3, 6, 7, 8}
True
True

In [13]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'banana', 'apple', 'cherry'}

In [14]:
thisset = {"apple", "banana", "cherry", "apple"}
print(thisset)

{'banana', 'apple', 'cherry'}

In [15]:
thisset = {"apple", "banana", "cherry", True, 1, 2}
print(thisset)

{'apple', 2, True, 'cherry', 'banana'}

In [16]:
set1 = {"abc", 34, True, 40, "male"}
print(set1)

{True, 34, 40, 'abc', 'male'}

In [17]:
myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

In [18]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

banana
apple
cherry

In [19]:
thisset = {"apple", "banana", "cherry"}
print("banana" in thisset)

True

In [20]:
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")

print(thisset)

{'banana', 'apple', 'orange', 'cherry'}

In [21]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'pineapple', 'apple', 'cherry', 'banana', 'mango', 'papaya'}

In [22]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'apple', 'cherry', 'banana', 'orange', 'kiwi'}

In [23]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'apple', 'cherry'}

In [24]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'apple', 'cherry'}

In [25]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

banana
{'apple', 'cherry'}

In [26]:
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

NameError: name 'thisset' is not defined

In [27]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{'b', 1, 2, 3, 'c', 'a'}

In [28]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{'b', 1, 2, 3, 'c', 'a'}

In [29]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

In [30]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

In [31]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'cherry', 'banana', 'microsoft', 'google'}

In [32]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'cherry', 'banana', 'microsoft', 'google'}

In [34]:
x = {"apple", "banana", "cherry", True}
y = {"google", 1, "apple", 2}

z = x.symmetric_difference(y)
print(z)

{2, 'cherry', 'banana', 'google'}

In [4]:
x1 = {'foo', 'bar', 'baz'}
x2 = {'baz', 'qux', 'quux'}

print(x1 | x2)

{'baz', 'qux', 'foo', 'quux', 'bar'}

In [3]:
x1 = {'foo', 'bar', 'baz'}
x2 = {'baz', 'qux', 'quux'}

print(x1.union(x2))

{'baz', 'qux', 'foo', 'quux', 'bar'}

In [6]:
a = {1, 2, 3, 4}
b = {2, 3, 4, 5}
c = {3, 4, 5, 6}
d = {4, 5, 6, 7}

print(a.union(b, c, d))

print(a | b | c | d)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}

In [7]:
x1 = {'foo', 'bar', 'baz'}
x2 = {'baz', 'qux', 'quux'}

print(x1.intersection(x2))

print(x1 & x2)

{'baz'}
{'baz'}

In [8]:
a = {1, 2, 3, 4}
b = {2, 3, 4, 5}
c = {3, 4, 5, 6}
d = {4, 5, 6, 7}

print(a.intersection(b, c, d))

print(a & b & c & d)

{4}
{4}

In [9]:
x1 = {'foo', 'bar', 'baz'}
x2 = {'baz', 'qux', 'quux'}

print(x1.difference(x2))

print(x1 - x2)

{'foo', 'bar'}
{'foo', 'bar'}

In [10]:
a = {1, 2, 3, 30, 300}
b = {10, 20, 30, 40}
c = {100, 200, 300, 400}

print(a.difference(b, c))

print(a - b - c)

{1, 2, 3}
{1, 2, 3}

In [11]:
x1 = {'foo', 'bar', 'baz'}
x2 = {'baz', 'qux', 'quux'}

print(x1.symmetric_difference(x2))

print(x1 ^ x2)

{'foo', 'qux', 'bar', 'quux'}
{'foo', 'qux', 'bar', 'quux'}

In [12]:
a = {1, 2, 3, 4, 5}
b = {10, 2, 3, 4, 50}
c = {1, 50, 100}

print(a ^ b ^ c)

{10, 100, 5}

In [13]:
a = {1, 2, 3, 4, 5}
b = {10, 2, 3, 4, 50}
c = {1, 50, 100}

print(a.symmetric_difference(b, c))

TypeError: set.symmetric_difference() takes exactly one argument (2 given)

In [14]:
x1 = {'foo', 'bar', 'baz'}
x2 = {'baz', 'qux', 'quux'}

print(x1.isdisjoint(x2))

print(x2 - {'baz'})
print(x1.isdisjoint(x2 - {'baz'}))

False
{'qux', 'quux'}
True

In [15]:
x1 = {1, 3, 5}
x2 = {2, 4, 6}

print(x1.isdisjoint(x2))
print(x1 & x2)

True
set()

In [18]:
x1 = {'foo', 'bar', 'baz'}
print(x1.issubset({'foo', 'bar', 'baz', 'qux', 'quux'}))
print(x1<=x1)

x2 = {'baz', 'qux', 'quux'}
print(x1 <= x2)

True
True
False

In [19]:
x1 = {'foo', 'bar'}
x2 = {'foo', 'bar', 'baz'}
print(x1 < x2)

x1 = {'foo', 'bar', 'baz'}
x2 = {'foo', 'bar', 'baz'}
print(x1 < x2)

True
False

In [21]:
x1 = {'foo', 'bar', 'baz'}

print(x1.issuperset({'foo', 'bar'}))

x2 = {'baz', 'qux', 'quux'}
print(x1 >= x2)

True
False

In [22]:
x1 = {'foo', 'bar', 'baz'}
x2 = {'foo', 'bar'}
print(x1 > x2)
print(x1 > x1)

x1 = {'foo', 'bar', 'baz'}
x2 = {'foo', 'bar', 'baz'}
print(x1 > x2)

True
False
False

In [23]:
x1 = {'foo', 'bar', 'baz'}
x2 = {'foo', 'baz', 'qux'}

x1 |= x2
print(x1)

x1.update(['corge', 'garply'])
print(x1)

{'baz', 'qux', 'foo', 'bar'}
{'baz', 'corge', 'qux', 'foo', 'garply', 'bar'}

In [24]:
x1 = {'foo', 'bar', 'baz'}
x2 = {'foo', 'baz', 'qux'}

x1 &= x2
print(x1)

x1.intersection_update(['baz', 'qux'])
print(x1)

{'baz', 'foo'}
{'baz'}

In [25]:
x1 = {'foo', 'bar', 'baz'}
x2 = {'foo', 'baz', 'qux'}

x1 -= x2
print(x1)

x1.difference_update(['foo', 'bar', 'qux'])
print(x1)

{'bar'}
set()

In [27]:
x1 = {'foo', 'bar', 'baz'}
x2 = {'foo', 'baz', 'qux'}
x1 ^= x2
print(x1)

x1.symmetric_difference_update(['qux', 'corge'])
print(x1)

{'bar', 'qux'}
{'corge', 'bar'}

In [28]:
x1 = frozenset(['foo'])
x2 = frozenset(['bar'])
x3 = frozenset(['baz'])
x = {x1, x2, x3}
print(x)

{frozenset({'bar'}), frozenset({'foo'}), frozenset({'baz'})}

In [29]:
x = frozenset({1, 2, 3})
y = frozenset({'a', 'b', 'c'})

d = {x: 'foo', y: 'bar'}
print(d)

{frozenset({1, 2, 3}): 'foo', frozenset({'c', 'a', 'b'}): 'bar'}